@charset 'utf-8';
@import 'parts/_env.scss';

/* tablet 800px - 640px */
@media screen and (max-width: 800px) {
    .content-header {
        min-width: 175px;
        span {
            img {
                max-width: 10rem;
                max-height: 10rem;
            }
        }
    }
    .content-main {
        padding: 0 1.5rem 2.75rem 175px;
    }
    .content-section {
        padding: 1.75rem 1rem 2rem 2.5rem;
        .sns-contact {
            .sns-icons {
                li {
                    margin-right: 2rem;
                    max-width: 50px;
                    width: 100%;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .career-detail {
            @include flex-direction(column-reverse);
            .career-section {
                max-width: 100%;
            }
            .career-date {
                max-width: 100%;
                width: 100%;
                min-width: none;
                text-align: left;
            }
        }
        .skills-area {
            width: 100%;
        }
    }
}
@media screen and (max-width: 640px) {
    .content-header {
        min-width: auto;
        width: 100%;
        height: 85px;
        text-align: center;
        align-items: flex-start;
        box-shadow: 0px 2px 3px #aaa;
        flex-direction: row-reverse;
        justify-content: flex-end;
        .myname {
            display: initial;
            padding-top: 1.5rem;
            @include font(22);
            font-weight: normal;
        }
        span {
            margin: .75rem 1.25rem 1.15rem;
            img {
                max-width: 4rem;
                max-height: 4rem;
                border: .25rem solid #14a243;
            }
        }
    }
    .content-nav {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        .content-menu {
            li {
                display: inline-block;
                font-size: 4.5vw;
                margin-bottom: .75rem;
                padding: 5px 2.5vw 0;
                position: relative;
                a {
                    @include opacity(0.7);
                }
                &:before {
                    content:"|";
                    display: inline-block;
                    position: absolute;
                    top: 3px;
                    left: -5px;
                    @include opacity(0.7);
                }
                &:last-child {
                    &:after {
                        content:"|";
                        display: inline-block;
                        position: absolute;
                        top: 3px;
                        right: -4px;
                        @include opacity(0.75);
                    }
                }
            }
        }
    }
    .content-main {
        padding: 0 1rem 3rem 1rem;
    }
    .content-section {
        padding: 1.75rem 0 2rem;
        .greeting-box,
        .career-box,
        .skills-box,
        .interest-box {
            display: block;
            padding: 95px .5rem 0;
            p {
                @include font(13);
            }
        }
        .about-me {
            font-size: 11vw;
            letter-spacing: -.25rem;
            span {
                letter-spacing: -.35rem;
            }
        }
        .sns-contact {
            .sns-icons {
                li {
                    margin-right: 1.5rem;
                    width: 10vw;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .career-title,
        .whats-skills,
        .whats-interest {
            font-size: 12vw;
            margin-bottom: 2rem;
        }
        .skills-lead {
            @include font(18);
        }
        .career-detail {
            .career-category { 
                line-height: 1.5;
                @include font(18);
            }
            .career-section {
                padding: 0;
            }
        }
        .skills-area {
            .skills-icons {
                li {
                    max-width: 56px;
                }
            }
        }
    }
    footer {
        background: #004015;
        box-shadow: 0px -2px 3px #aaa;
        .copyright {
            @include font(12);
            padding: 0.5rem 1.5rem .5rem;
            text-align: center;
            color: #fff;
        }
    }
}