<header class="content-header">
    <h1 class="myname">Kosuke Homma</h1>
    <span><img src="assets/images/prof.jpg"></span>
    <nav class="content-nav">
        <ul class="content-menu" id="menu">
            <li><a href="#about" class="select" onclick="addClass();">ABOUT</a></li>
            <li><a href="#career" class="select" onclick="addClass();">CAREER</a></li>
            <li><a href="#skills" class="select" onclick="addClass();">SKILLS</a></li>
            <li><a href="#interests" class="select" onclick="addClass();">INTEREST</a></li>
        </ul>
    </nav>
</header>