<%
var pageData = {
    pageTitle: "ABOUT",
    pageStyle: "about"
}
%>
<!DOCTYPE html>
<html lang="ja">
    <%- include('../_partial/_head', pageData) %>
<body>
    aaavvvnl;dsafhjhsdfsdfs
    <header>
        Here is a header
    </header>
    <img src="../assets/images/pnt_log_g2.gif">
    <footer>
        here is a footerzz
    </footer>
</body>
</html>